{% extends 'base.html' %}

{% block page_content %}

<a type='button' href="/" class='btn btn-default btn-sm breadcrumb-btn'>
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back to Home
</a>

<div class="highlight">
    <ul>
        <li>
            <a href="/2DVectors/2DVectorsRep">
                <b>Example 1</b> - 2D Vector Representation
            </a>
        </li>
        <li>
            <a href="/2DVectors/2DVectorOperations">
                <b>Example 1</b> - 2D Vector Operations
            </a>
        </li>
    </ul>
</div>
{% endblock %}


{% block page_js %}
{% endblock %}